*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    
}

header{
    /* border: 2px solid red; */
    padding-top: 50px;
    background-color: rgba(255, 143, 14, 0.209)
}
nav{
    /* border: 2px solid blue; */
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap:  30px;
    list-style: none;
    align-items: center;
}

nav ul a{
    text-decoration: none;
    font-size: 18px;
    color: #424242;
}
nav h3{
    font-size: 45px;
    color: #131313;
}
#banner{
    /* display: flex; */
    /* justify-content: center; */
    /* border: 2px solid green; */
    padding-top: 116px;
    padding-bottom: 45px;
}
#banner .banner-contents{
    width: 75%;
    /* border: 2px solid turquoise; */
    margin: 0 auto;
    text-align: center;
}
#banner .banner-contents img{
    max-width: 1440px;
}
.banner-contents h2{
    font-size: 64px;
    margin-bottom: 32px;
}
.banner-contents p{
    margin-bottom: 32px;
    color: #727272;
    line-height: 26px;
}
.btn{
    margin-bottom: 50px;
    padding: 21px 25px;
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
}